body {
    margin: 0;
    padding: 0;
}

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(59, 103, 184);
}

.heading {
    color: white;
    padding: 3rem 0;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
}
